[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
blinker = "*"
certifi = "*"
click = "*"
colorama = "*"
colorlog = "*"
contourpy = "*"
cycler = "*"
dacite = "*"
dill = "*"
distlib = "*"
filelock = "*"
flake8 = "*"
flask = "*"
fonttools = "*"
gitdb = "*"
gitpython = "*"
isort = "*"
itsdangerous = "*"
jinja2 = "*"
kiwisolver = "*"
markupsafe = "*"
matplotlib = "*"
mccabe = "*"
mpmath = "*"
mypy = "*"
mypy-extensions = "*"
numpy = "*"
packaging = "*"
pandas = "*"
pathspec = "*"
pbr = "*"
pillow = "*"
pipenv = "*"
platformdirs = "*"
pycodestyle = "*"
pydot = "*"
pyflakes = "*"
pylatexenc = "*"
pyparsing = "*"
pysen = "*"
python-dateutil = "*"
pytz = "*"
qiskit = "*"
rustworkx = "*"
scipy = "*"
seaborn = "*"
six = "*"
smmap = "*"
stevedore = "*"
symengine = "*"
sympy = "*"
tomlkit = "*"
typed-ast = "*"
typing-extensions = "*"
tzdata = "*"
unidiff = "*"
virtualenv = "*"
werkzeug = "*"
mahjong = "*"
vue = "*"

[dev-packages]

[requires]
python_version = "3.12"
