.flask{
    background-color: #356cac;
}
.vue{
    background-color:steelblue; 
}
.sutehai .content{
    text-align  : center;
    margin : auto;
}
.tehai{
    position      : absolute;
    bottom        : 0;
    margin-bottom : auto;
}
