.flask{
    background-color : #356cac;
}
.vue{
    background-color : steelblue; 
}
.sutehai{
    text-align : left;
    margin : auto;
    width : 75%;
    zoom : 1.5;
}
.tehai{
    text-align : center;
    margin : auto;
    bottom : 0;
    margin-bottom : 0;
    width : 75%;
    zoom : 1.5;
}
