.flask{
    background-color : #356cac;
}
.vue{
    background-color : steelblue; 
}
.sutehai{
    text-align : left;
    margin : auto;
    width : 44%;
    zoom : 1.5;
}
.tehai{
    text-align : center;
    margin : auto;
    position : absolute;
    bottom : 0;
    margin-bottom : 0;
    width : 100%;
    zoom : 1.5;
}
.win a{
    display : block;
    margin : auto;
    width : 35%;
}
