<!doctype html>
<html lang="ja">
    <script>barba.init();</script>
    <body data-barba="wrapper">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet"href="/static/css/main.css">
            <title>mzmahjong24</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/X.X.X/jquery.min.js"></script>
            <script>
                const command = [
                    "m",
                    "a",
                    "h",
                    "j",
                    "o",
                    "n",
                    "g"
                ];
                let userInput = [];
                document.addEventListener("keyup", function (e) {
                    userInput.push(e.key);
                    userInput.splice(-command.length - 1, userInput.length - command.length);
                    if (JSON.stringify(userInput) === JSON.stringify(command)) {
                        var context = new AudioContext();
                        var arrayBuffer;
                        var audioBuffer;
                        var source;
                        function getArrayBuffer(url){
                            return new Promise(function(resolve){
                                var request = new XMLHttpRequest();
                                request.open('GET', url, true);
                                request.responseType = 'arraybuffer';
                                request.onload = function () {
                                    arrayBuffer = request.response;
                                    resolve();
                                };
                                request.send();
                            });
                        }
                        function createAudioBuffer(){
                            return new Promise(function(resolve){
                                context.decodeAudioData(arrayBuffer, function (buf) {
                                    audioBuffer = buf;
                                    resolve();
                                });
                            });
                        }
                        function createBuffer(){
                            return new Promise(function(resolve){
                                source = context.createBufferSource();
                                source.buffer = audioBuffer;
                                source.connect(context.destination);
                                resolve();
                            });
                        }
                        function playOGG(){
                            source.loop = true;
                            source.loopStart = 4;
                            source.loopEnd = 136;
                            source.start(0);
                        }
                        var SOUND_URL = '../static/BGM/BGM.wav';
                        getArrayBuffer(SOUND_URL).then(createAudioBuffer).then(createBuffer).then(playOGG);
                    }
                })
            </script>
        </head>
      
        <main data-barba="container" data-barba-namespace="top" class="flask">
            {% if win %}
            <div class="win">
                <a href="/"><img src=/static/pic/win.png></a>
                <p>{{score}}</p>
            </div>
            {% else %}
            <div class="sutehai">
                {% for tile in sutehai %}{% if ((loop.index - 1) % 9) == 0 %}<br>{% endif %}<img src=/static/pic/{{tile.pic}}>{% endfor %}
            </div>
            {% endif %}
            <div class="tehai">{% for tile in tehai %}{% if loop.last %}&nbsp;{% endif %}<a onclick="change.dahai.value = '{{tile.pic}}';change.submit();"><img src=/static/pic/{{tile.pic}}></a>{% endfor %}</div>
            <form name="change" action="{{ url_for('change') }}" method=post>
                {% for tile in sutehai %}
                <input name="sutehai" type="hidden" value="{{tile.pic}}">
                {% endfor %}
                {% for tile in tehai %}
                <input name="tehai" type="hidden" value="{{tile.pic}}">
                {% endfor %}
            </form>
            <a class="reset" type="button" onclick="location.href='https://mzmahjong24.onrender.com/'"><font face="游ゴシック">リセット</font></a>
        </main>
    </body>   
</html>
